
/* css */

body{
    background: #023047;
}

.header{
    text-align: center;
    font-size: 5em;
}

.md-header{
    text-align: center;
    font-size: 4.5em
}

.white-text{
    color: #ffffff;
}

.black-text{
    color:#000000;
}

.content{
    margin-top: 15px;
}

.left-content{
    background: #4F4F4F;
    border-radius: 10px;
    font-size: 2.5em;
    display: flex;
}

.right-content{
    background: #EF1DA8;
    border-radius: 10px;
    font-size: 2em;
    text-align: left;
    height: fit-content;

}

.s-center-text{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50%;

}

.vertical-center {
    /* min-height: 100%;  Fallback for browsers do NOT support vh unit */
    /* min-height: 100vh; These two lines are counted as one :-)       */
    /* margin-top: 50%; */
    /* margin-bottom: 50%; */
    margin: auto;
    display: flex;
    align-items: center;
  }

.center-content{
    background: #8ECAE6;
    border-radius: 10px;
    width: 100%;
}

.center-header{
    background: #8ECAE6;
    border-radius: 10px; 
    text-align: center;
    font-size: 3.5em;
    font-weight: 600;
    margin: 2% auto;
}

img{
    width: 100%;
    height: 95%;
    /* margin-top: 1.5%; */
    margin: 1.5% 0;
}

.nav-button{
    margin: 10% 0;
    width: 100%;
    font-size: 3em;
    font-weight: 500;

}
